.studio_container{
    padding: 2rem;
    margin: auto;
}

.studio_content{
    text-align: left;
    background-color: #FF5A3C;
    color: white;
    padding: 5rem;
    line-height: 1.8;
}

.std-head{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.std-content{
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.std-list{
    list-style: none;
    font-size: 1.1rem;
    padding-left: 0;
}

.studio-desc{
    margin-bottom: 10px;
}

.studio_img{
    width: 40rem;
}

